
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  padding: 15px 0px 15px 0px;
  font-family: 'Poppins', sans-serif;
  color: #00417a;
  text-decoration: none;
}
.app-title {
  font-size: calc(20px + 2vmin);
  padding-bottom: 2vw;
}

a {
  color: #023e8a;
  text-decoration: none;
}

a:hover {
  transition: transform 430ms ease-in-out;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #0096c7;
}


.app-nav a {
  font-size: 20px;
  border-style: solid;
  border-width: 0.5px;
  font-size: calc(5px + 2vmin);
 
}
.f-link {
  margin-right: 10px;
}
.home-page, .fridge-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fridge-list {
  border-style: solid;
  border-width: 2px;
  border-color: lightgray;
  padding: 10px 5px 10;
}

.home-p {
  display: flex;
  flex-direction: column;
  padding-right: 5vw;
  padding-left: 5vw;
  justify-content: center;
}

.empty-fridge {
  border-style: none;
}

.food-li {
  padding: 5px 10px 5px;
}

h2 {
  font-weight: 400;
  padding-top: 1.5vw;
  font-size: calc(10px + 2vmin);
}

#trash-icon {
  width: 17px;
  height: 17px;
  padding-left: 10px;
}


#delete {
  border-style: none;
  background-color: white;
}

li {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding-left: 0;
}
.home-li-middle {
  margin-left: 40px;
  margin-top: 5px;
  list-style: square;
}

.home-li-beginning, .home-li-end {
  padding: 15px 0px 15px;


}

/*ADD FOOD PAGE*/

.add-food-page {
  display: flex;
  flex-direction: row;
}

.selected-food {
  align-self: flex-start;
}

/*RECIPE SEARCH PAGE */

.active {
  color: red;
  box-shadow: 0 5px 7px -1px rgba(64, 202, 0, 0.23);
}

.inactive {
  color: black;
}

.active, .inactive {
  border-radius: 0 0 6px 6px;
  border-color: teal;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  padding: 15px;
}

.hidden {
  display: none;
}

.recipe-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-search-button {
  width: 50px;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 75vw;
}

.inactive, .sfl-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* fonts: poppins, bodoni Moda,  */